<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Klinik Dokter Kita</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by QBOOTSTRAP.COM" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="QBOOTSTRAP.COM" />

	<!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by QBOOTSTRAP.COM

	Website: 		http://qbootstrap.com/
	Email: 			info@qbootstrap.com
	Twitter: 		http://twitter.com/Q_bootstrap
	Facebook: 		https://www.facebook.com/Qbootstrap
	//////////////////////////////////////////////////////
	 -->

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
	<link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/css/magnific-popup.css">
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="/css/flexslider.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="/css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body>

	<div class="qbootstrap-loader"></div>

	<div id="page">
		<nav class="qbootstrap-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<div class="top">
								<div class="row">
									<div class="col-md-4 col-md-push-4 text-center">
										<div id="qbootstrap-logo"><a href="index.html"><i
													class="icon-plus-outline"></i>Klinik<span>Dokter Kita</span></a>
										</div>
									</div>
									<div class="col-md-4 col-md-pull-4">
										<div class="num">
											<span class="icon"><i class="icon-phone"></i></span>
											<p><a href="#">0823-1555-9991</a></p>
										</div>
									</div>
									<div class="col-md-4">
										<div class="loc">
											<span class="icon"><i class="icon-location"></i></span>
											<p><a href="https://goo.gl/maps/u2UdjbvHDgv">Jl. Parakan Saat Ruko Perumahan
													Sinergi No. 4, Antapani, Kota
													Bandung, Jawa Barat.</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 text-center">
							<div class="menu-1">
								<ul>
									<li class="active"><a href="index.html">Halaman utama</a></li>
									<li><a href="/pelayanan">Pelayanan</a></li>
									<li class="has-dropdown">
										<a href="departments.html">Kelas edukasi</a>
										<ul class="dropdown">
											<li><a href="/abses">Abses periapikal</a></li>
											<li><a href="/kariesgigi">Karies gigi</a></li>
											<li><a href="/gingivitis">Gingivitis</a></li>
											<li><a href="/periodontitis">Periodontitis</a></li>
											<li><a href="/pulpitisreversibel">Pulpitis reversibel</a></li>
											<li><a href="/pulpitisireversibel">Pulpitis ireversibel</a></li>
										</ul>
									</li>
									<li class="has-dropdown">
										<a href="/jadwaldokter">Jadwal Dokter</a>
									</li>

									<!-- <li><a href="/hubungikami">Hubungi kami</a></li> -->
									<% if(!currentUser){%>
									<li><a href="/login">Login</a></li>
									<% } else { %>
									<li class="has-dropdown">
										<a href="/diagnosa">Diagnosa Penyakit</a>
									</li>
									<li><a href="">Halo,
											<%= currentUser.local.firstName %></a> </li>
									<li> <a class="nav-link" href="/logout">Keluar</a></li>
									<% }  %>

									<!-- <li class="btn-cta"><a href="appointment.html"><span>Make an Appointment <i class="icon-calendar3"></i></span></a></li> -->
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</nav>

		<aside id="qbootstrap-hero">
			<div class="flexslider">
				<ul class="slides">
					<li style="background-image: url(images/image_1.jpg);">
						<div class="overlay"></div>
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2 text-center slider-text">
									<div class="slider-text-inner">
										<h1>Selamat datang</h1>
										<h2 class="doc-holder">Klinik Dokter Kita</h2>
										<p><a class="btn btn-primary btn-lg" href="/jadwaldokter">Lihat jadwal
												dokter</a></p>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</aside>

		<div id="qbootstrap-intro">
			<div class="row">
				<div class="intro animate-box">
					<div class="intro-grid color-1">
						<span class="icon"><i class="icon-calendar3"></i></span>
						<h3>Jadwal yang fleksibel</h3>
						<p>Anda dapat menghubungi pihak klinik untuk mengetahui jadwal dokter yang tersedia.</p>
					</div>
					<div class="intro-grid color-2">
						<span class="icon"><i class="icon-wallet2"></i></span>
						<h3>Harga yang terbaik</h3>
						<p>Berobat di klinik dokter kita berusaha bisa mendapatkan harga yang terbaik dan murah.</p>
					</div>
					<div class="intro-grid color-3">
						<span class="icon"><i class="icon-clock3"></i></span>
						<h3>Jadwal Buka</h3>
						<p>
							<span>Senin – Jumat : 07.00 – 06.00 pm</span><br>
							<span>Sabtu : 08.00 am – 04.00 pm</span><br>
							<span>Minggu dan Tanggal merah : LIBUR</span>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div id="qbootstrap-services">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-6 col-md-offset-3 text-center qbootstrap-heading">
						<h2>Pelayanan yang kami berikan</h2>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem
							provident. Odit ab
							aliquam dolor eius.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 animate-box">
						<div class="services">
							<span class="icon">
								<i class="icon-flow-merge"></i>
							</span>
							<div class="desc">
								<h3><a href="#">Diagnostic</a></h3>
								<p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas,
									wild Question Marks and
									devious Semikoli</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 animate-box">
						<div class="services">
							<span class="icon">
								<i class="icon-params"></i>
							</span>
							<div class="desc">
								<h3><a href="#">Restorative Solution</a></h3>
								<p>Little Blind Text didn’t listen. She packed her seven versalia, put her initial into
									the belt and made
									herself on the way.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 animate-box">
						<div class="services">
							<span class="icon">
								<i class="icon-lab2"></i>
							</span>
							<div class="desc">
								<h3><a href="#">Additional Treatment</a></h3>
								<p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas,
									wild Question Marks and
									devious Semikoli</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 animate-box">
						<div class="services">
							<span class="icon">
								<i class="icon-heart4"></i>
							</span>
							<div class="desc">
								<h3><a href="#">Heart Surgery</a></h3>
								<p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas,
									wild Question Marks and
									devious Semikoli</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 animate-box">
						<div class="services">
							<span class="icon">
								<i class="icon-params"></i>
							</span>
							<div class="desc">
								<h3><a href="#">General Treatment</a></h3>
								<p>Little Blind Text didn’t listen. She packed her seven versalia, put her initial into
									the belt and made
									herself on the way.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 animate-box">
						<div class="services">
							<span class="icon">
								<i class="icon-lab2"></i>
							</span>
							<div class="desc">
								<h3><a href="#">Medical Treatment</a></h3>
								<p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas,
									wild Question Marks and
									devious Semikoli</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="qbootstrap-choose">
			<div class="container-fluid">
				<div class="row">
					<div class="choose">
						<div class="half img-bg" style="background-image: url(images/img_bg_6.jpg);"></div>
						<div class="half features-wrap">
							<div class="qbootstrap-heading animate-box">
								<h2>Kelebihan yang kami miliki</h2>
							</div>
							<div class="features animate-box">
								<span class="icon text-center"><i class="icon-group-outline"></i></span>
								<div class="desc">
									<h3>Dokter yang Berpengalaman</h3>
									<p>Kami memiliki dokter yang sudah tersertifikasi, berpengalaman, serta ramah
										terhadap pasien.</p>
								</div>
							</div>
							<!-- <div class="features animate-box">
								<span class="icon text-center"><i class="icon-flow-merge"></i></span>
								<div class="desc">
									<h3>Free Medical Consultation</h3>
									<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias
										autem provident. Odit ab
										aliquam dolor eius.</p>
								</div>
							</div> -->
							<div class="features animate-box">
								<span class="icon text-center"><i class="icon-document-text"></i></span>
								<div class="desc">
									<h3>Pendaftaran Online</h3>
									<p>Kami menyediakan fasilitas pendaftaran secara online, sehingga dapat mmemudahkan
										anda untuk berobat.</p>
								</div>
							</div>
							<div class="features animate-box">
								<span class="icon text-center"><i class="icon-gift"></i></span>
								<div class="desc">
									<h3>Fasilitas yang Modern</h3>
									<p>Klinik kami menyediakan fasilitas yang modern, telah teruji secara klinis, dan
										berstandar kedokteran.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>