<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Klinik Dokter Kita</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by QBOOTSTRAP.COM" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="QBOOTSTRAP.COM" />

	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
	<link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/css/magnific-popup.css">
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="/css/flexslider.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="/css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<script>
		toastr.success(msg);
	</script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body>

	<div class="container">
		<% if (success && success.length > 0) { %>
		<div class="alert alert-success" role="alert"><%= success %></div>
		<% } %>
		<% if (error && error.length > 0) { %>
		<div class="alert alert-danger" role="alert"><%= error %></div>
		<% } %>
	</div>


	<div class="qbootstrap-loader"></div>

	<div id="page">
		<nav class="qbootstrap-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<div class="top">
								<div class="row">
									<div class="col-md-4 col-md-push-4 text-center">
										<div id="qbootstrap-logo"><a href="/index"><i
													class="icon-plus-outline"></i>Klinik<span>Dokter Kita</span></a>
										</div>
									</div>
									<div class="col-md-4 col-md-pull-4">
										<div class="num">
											<span class="icon"><i class="icon-phone"></i></span>
											<p><a href="#">0823-1555-9991</a></p>
										</div>
									</div>
									<div class="col-md-4">
										<div class="loc">
											<span class="icon"><i class="icon-location"></i></span>
											<p><a href="https://goo.gl/maps/u2UdjbvHDgv">Jl. Parakan Saat Ruko Perumahan
													Sinergi No. 4, Antapani, Kota
													Bandung, Jawa Barat.</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 text-center">
							<div class="menu-1">
								<ul>
									<li class="active"><a href="/index">Halaman utama</a></li>
									<li><a href="/pelayanan">Pelayanan</a></li>
									<li class="has-dropdown">
										<a href="/jadwaldokter">Jadwal Dokter</a>
									</li>
									<li class="has-dropdown">
										<a href="/diagnosa">Diagnosa Penyakit</a>
									</li>
									<li class="has-dropdown">
										<a href="/pendaftaran/daftar">Daftar Antrian</a>
									</li>
									<!-- <li><a href="/hubungikami">Hubungi Kami</a></li> -->
									<% if(!currentUser){%>

									<li><a href="/login">Login</a></li>

									<% } else { %>


									<li><a href="/users/<%= currentUser.id %>">Profilku</a>
									</li>
									<li> <a class="nav-link" href="/logout">Keluar</a></li>
									<% }  %>

									<!-- <li class="btn-cta"><a href="appointment.html"><span>Make an Appointment <i class="icon-calendar3"></i></span></a></li> -->
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</nav>