._7anq{display:flex;min-height:48px;min-width:48px;position:relative}._7anq ._7anr{bottom:0;left:0;max-height:48px;max-width:48px;position:absolute;right:0;top:0}

#bootloader_SdgA3{height:42px;}.bootloader_SdgA3{display:block!important;}