<% include ../partials/header2 %>
<style media="screen">
  #text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
  #overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
  .spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
</style>
<div id="page-wrapper">
  <div id="overlay">
    <div id="text">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
  </div>

  <% if(!currentUser) { %>
  <div class="container">
    <div class="col-sm-6 col-sm-offset-3"><br>
      <center>
        <h1>Silakan login terlebih dahulu.</h1>
        <!--If the user is not logged in, direct him to the login page-->
        <h5>Sebelum mengetahui diagnosa penyakit gigi dan mulut anda. Silakan login terlebih dahulu <a
            href="/login">Klik
            disini</a></h5>
      </center>
    </div>
  </div>
  <% } %>
  <% if(currentUser) { %>
  <center>
    <div class="col-lg-12">
      <h1 class="page-header">Diagnosa Penyakit Gigi</h1>
      <p>Penting : Hasil dari diagnosa pakar ini memiliki keakuratan sekitar 90%.<br>Untuk mengetahui lebih lanjut
        mengenai penyakit anda, silakan konsultasikan ke Klinik Dokter Kita.
      </p>
    </div>
  </center>
  <div class="panel">
    <div class="panel-heading">
      <!-- Gejala apa saja yang dialami oleh anda ? -->
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6 col-md-offset-3" id="form_data">
          <form class="form-horizontal" action="" onsubmit="return false" id="set" method="post">
            <p>Pilih gejala yang dialami oleh anda :</p>
            <% alldiagnosa_pakar.forEach(function(rs){ %>
            <div class="col-md-12">
              <div class="checkbox">
                <input type="checkbox" name="select" value="<%= rs.kode_gejala %>">
                <label>
                  <%= rs.nama_gejala %></label>
              </div>
            </div>
            <% }) %>
            <div class="col-md-12" style="padding-top:20px">
              <div class="form-group">
                <button type="submit" class="btn btn-block btn-success">
                  Cek Diagnosa
                </button>
              </div>
            </div>
          </form>
        </div>
        <style media="screen">
          hr {
            color: black;
          }
        </style>
        <div class="col-md-6 col-md-offset-3" id="block" style="display:none;">
          <div class="col-md-12">

            <p class='content'>

            </p>
          </div>
          <div class='col-md-12 gejala' style="padding-top:20px">

          </div>
          <div class='col-md-12 content_body' style="padding-top:20px">

          </div>

        </div>
      </div>
    </div>
  </div>
  <% } %>
</div>
<% include ../partials/footer %>
<script type="text/javascript">
  $(document).ready(function () {
    function on() {
      document.getElementById("overlay").style.display = "block";
    }

    function off() {
      document.getElementById("overlay").style.display = "none";
    }
    function algoritmaDS(selected, g, r, d) {
      console.log(selected);
      console.log(g);
      console.log(r);
      console.log(d);
      var $hasil = [];

      function array_round(arr) {
        var arr_round = [];
        // console.log("== List Array == ");
        // console.log(arr);
        // console.log("total = "+arr.length);
        // console.log("== Round Up == ");
        for (var i = 0; i < arr.length; i++) {
          arr_round.push(Math.round(arr[i]));
        }
        return arr_round;
      }

      function DS_total_nilai($name, $data) {
        $arr = [];
        // console.log("Hitung Nilai");
        $.each($data, function ($key, $val) {
          if ($val['name'] == $name) {
            $arr.push($val['value']);
          }
        });
        return $arr;
      }

      function DS_get_best($hasil) {
        $num = 0;
        $max = [];
        $.each($hasil, function ($key, $val) {
          if ($val['value'] > $num) {
            $num = $val['value'];
            $max = $val;
          }
        });
        return $max;
      }

      function DS_get_diagnosa($kode, $dataset) {
        $data = [];
        // console.log("Kode : "+$kode);
        $.each($dataset, function ($key, $val) {
          if ($val["kode_gejala"] == $kode) {
            // console.log("Kode Gejalan : "+$val["kode_gejala"]);
            // console.log("Bandingan  : "+$kode);
            $data.push($val["kode_diagnosa"]);
          }
        });
        return $data;
      }

      function array_sum(sum) {
        var totalUnitPrice = 0;
        for (var i = 0; i < sum.length; i++) {
          totalUnitPrice = totalUnitPrice + sum[i];
        }
        // console.log(totalUnitPrice);
        return totalUnitPrice;
      }

      function DS_hitung($unik, $data) {
        $arr_s = [];
        // console.log("Hitung");
        // console.log($arr);
        $kosong = DS_total_nilai('', $data);
        $.each($unik, function ($key, $val) {
          if ($key != '') {
            $arr_x = DS_total_nilai($key, $data);
            // console.log($arr_x);
            $arr_s.push({
              'arr': $val,
              'name': $key,
              'value': array_sum($arr_x) / (1 - array_sum($kosong)),
              'desc': '( ' + ($arr_x.join("+")) + ' ) / ( 1 - [ ' + (array_round($kosong)).join(" + ") +
                ' ] )'
            });
          }
        });
        return $arr_s;
      }

      function array_keys(input) {
        var output = [];
        $.each(input, function (index, el) {
          output.push(index);
        });
        return output;
      }

      function findIndex(kode, set) {
        a = 0;
        $.each(set, function (index, el) {
          if (el["kode"] == kode) {
            a = index;
          }
        });
        return a;
      }
      // var selected = ["G1","G2","G3","G4"];
      // var setgejala = '[{"kode":"G1","nama":"Noda kehitaman pada gigi","bobot":0.95},{"kode":"G2","nama":"Lubang kecil pada gigi","bobot":0.8},{"kode":"G3","nama":"Sakit ketika menggigit makanan","bobot":0.85},{"kode":"G4","nama":"Gigi sensitif","bobot":0.7},{"kode":"G5","nama":"Rasa sakit yang hanya sebentar","bobot":0.95},{"kode":"G6","nama":"Terdapat lubang yang dalam dan besar pada gigi","bobot":0.75},{"kode":"G7","nama":"Gigi terasa berdenyut","bobot":0.95},{"kode":"G8","nama":"Gigi berlubang mengalami rasa sakit apabila masuk makanan","bobot":0.9},{"kode":"G9","nama":"Rasa nyeri sampai ke pelipis mata atau telinga","bobot":0.95},{"kode":"G10","nama":"Gigi terasa sakit jika terjadi sentuhan dengan lidah","bobot":0.7},{"kode":"G11","nama":"Gusi bengkak dan merah","bobot":0.95},{"kode":"G12","nama":"Gigi terasa sakit apabila mengunyah","bobot":0.9},{"kode":"G13","nama":"Demam","bobot":0.5},{"kode":"G14","nama":"Ada pembengkakan kelenjar getah bening pada leher","bobot":0.7},{"kode":"G15","nama":"Bau mulut","bobot":0.8},{"kode":"G16","nama":"Gusi mudah berdarah","bobot":0.95},{"kode":"G17","nama":"Gusi menjadi lebih lembut","bobot":0.9},{"kode":"G18","nama":"Bentuk gusi berubah sedikit tumpul","bobot":0.8},{"kode":"G19","nama":"Gusi mengalami rasa sakit/nyeri","bobot":0.8}]';
      // var setdiagnosa = '{"A":{"kode":"A","nama":"Karies gigi"},"B":{"kode":"B","nama":"Pulpitis Reversibel"},"C":{"kode":"C","nama":"Pulpitis ireversibel"},"D":{"kode":"D","nama":"Abses periapikal"},"E":{"kode":"E","nama":"Gingivitis"}}';
      // var setdr = '[{"kode_diagnosa":"A","kode_gejala":"G1"},{"kode_diagnosa":"A","kode_gejala":"G2"},{"kode_diagnosa":"A","kode_gejala":"G3"},{"kode_diagnosa":"A","kode_gejala":"G4"},{"kode_diagnosa":"B","kode_gejala":"G2"},{"kode_diagnosa":"B","kode_gejala":"G3"},{"kode_diagnosa":"B","kode_gejala":"G5"},{"kode_diagnosa":"C","kode_gejala":"G6"},{"kode_diagnosa":"C","kode_gejala":"G7"},{"kode_diagnosa":"C","kode_gejala":"G8"},{"kode_diagnosa":"C","kode_gejala":"G9"},{"kode_diagnosa":"C","kode_gejala":"G10"},{"kode_diagnosa":"D","kode_gejala":"G11"},{"kode_diagnosa":"D","kode_gejala":"G7"},{"kode_diagnosa":"D","kode_gejala":"G12"},{"kode_diagnosa":"D","kode_gejala":"G13"},{"kode_diagnosa":"D","kode_gejala":"G14"},{"kode_diagnosa":"E","kode_gejala":"G15"},{"kode_diagnosa":"E","kode_gejala":"G11"},{"kode_diagnosa":"E","kode_gejala":"G16"},{"kode_diagnosa":"E","kode_gejala":"G17"},{"kode_diagnosa":"E","kode_gejala":"G18"},{"kode_diagnosa":"E","kode_gejala":"G19"}]';
      var gejala = g;
      var data_relasi = r;
      var diagnosa = d;
      $hasil.push({
        'arr': array_keys(diagnosa),
        'name': (array_keys(diagnosa)).join(","),
        'value': 1
      });
      // console.log($hasil);
      var data_hasil = [];
      $.each(selected, function (index, el) {
        var $kode = el;
        $new_hasil = [];
        $arr_diagnosa = DS_get_diagnosa($kode, data_relasi);
        $.each($hasil, function (key, row) {
          $arr = row['arr'].filter(value => $arr_diagnosa.includes(value));
          $name = $arr.join(",");
          $value = row['value'] * gejala[findIndex($kode, gejala)]['bobot'];
          $new_hasil.push({
            'arr': $arr,
            'name': $name,
            'value': $value,
          });
          ext = [];
          $.each(diagnosa, function (i, v) {
            ext.push(i);
          });
          $arr2 = row['arr'].filter(value => ext.includes(value));
          $name2 = $arr2.join(",");
          $value2 = row['value'] * (1 - gejala[findIndex($kode, gejala)]['bobot']);
          $new_hasil.push({
            'arr': $arr2,
            'name': $name2,
            'value': $value2,
          });
          $hasil = $new_hasil;
        });
        $unik = {};
        $.each($hasil, function (index, $row) {
          $unik[$row['name']] = $row['arr'];
        });
        $new_hasil = DS_hitung($unik, $hasil);
        $hasil = $new_hasil;
        // console.log($hasil);
        // console.log($arr_diagnosa);
      });
      $best = DS_get_best($hasil);
      return $best;
    }
    $("#set").on('submit', function (event) {
      event.preventDefault();
      selected = [];
      $.each($("input[name='select']:checked"), function () {
        selected.push($(this).val());
      });
      console.log("Terpilih");
      if (selected.length > 0) {
        on();
        $.get("diagnosa/getgejala", function (rs) {
          gejala = rs;
          $.get("diagnosa/getrelasi", function (rx) {
            relasi = rx;
            $.get("diagnosa/getdiagnosa", function (ra) {
              diagnosa = ra;
              set = algoritmaDS(selected, gejala, relasi, diagnosa);
              console.log(set);
              penyakit = "";
              gejala_set = "";
              $.each(diagnosa, function (index, el) {
                if (el.kode == set.name) {
                  penyakit = el.nama;
                }
              });
              $.each(selected, function (index, e) {
                setit = "";
                $.each(gejala, function (i, el) {
                  if (e == el.kode) {
                    setit = el.nama;
                  }
                });
                gejala_set += "<p>" + setit + "</p>";
              });
              $("#block").css("display", "block");
              $("#form_data").css("display", "none");
              $("#block").find(".content").html(
                "<h3>Hasil Diagnosa</h3><hr> Berdasarkan gejala yang dialami maka kemungkinan " +
                (set.value * 100) +
                " % anda menderita penyakit " + penyakit +
                ". Silahkan konsultasi ke Klinik Dokter Kita atau telusuri lebih lanjut mengenai penyakit anda di halaman kelas edukasi"
              );
              $("#block").find(".gejala").html("<h3>Gejala Yang Di Pilih</h3><hr>" + gejala_set);
              $.post("diagnosa/insertriwayat", {
                persentansi: (Math.trunc((set.value * 100))) + "%",
                nama_diagnosa: penyakit
              }, function (rs) {
                if (rs.status == 1) {
                  toastr.success(rs.msg);
                  $("#block").find(".content_body").html(
                    "<h3>Riwayat Diagnosa</h3><hr><div class='table-responsive'><table class='table' id='diagnosa_riwayat'><thead><th>Nama Penyakit</th><th>Persentase</th><th>Tanggal diagnosa</th></thead><tbody></tbody></table></div>"
                  );
                  $("#block").find("#diagnosa_riwayat").DataTable({
                    ajax: "diagnosa/getriwayat"
                  });
                  off();
                  location.href = "#block";
                } else {
                  toastr.error(rs.msg);
                }
              })

            });
          });
        });
      } else {
        alert("Tidak Ada Diagnosa Terpilih");
      }
    });
  });
</script>
