<!-- <!doctype html>
<html>

<head>
    <title>Login Yelpcamp</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head> -->
<% include ../partials/header %>

<!-- <body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> Klinik Dokter Kita</h1>

            <p>Masuk atau Registrasi dengan:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Masuk</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Registrasi</a>
        </div>

        <div class="text-center">
            <p><a href="/forgot">Lupa password ?</a></p>
        </div>

    </div> -->
<!-- </body>

</html> -->
<% include ../partials/footer %>