<% include ../partials/header2 %>
<div id="qbootstrap-services">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center qbootstrap-heading">
                <h2>Pelayanan yang diberikan</h2>
                <p>Klinik Dokter Kita memberikan pelayanan sebagai berikut.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="icon-flow-merge"></i>
                    </span>
                    <div class="desc">
                        <h3><a href="#">Poli Gigi</a></h3>

                    </div>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="icon-params"></i>
                    </span>
                    <div class="desc">
                        <h3><a href="#">Poli Umum</a></h3>

                    </div>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="icon-lab2"></i>
                    </span>
                    <div class="desc">
                        <h3><a href="#">Laboratorium pemeriksaan</a></h3>

                    </div>
                </div>
            </div>

            <div class="col-md-4 animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="icon-heart4"></i>
                    </span>
                    <div class="desc">
                        <h3><a href="#">Imunisasi</a></h3>

                    </div>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="icon-params"></i>
                    </span>
                    <div class="desc">
                        <h3><a href="#">Pojok Gizi</a></h3>

                    </div>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="icon-lab2"></i>
                    </span>
                    <div class="desc">
                        <h3><a href="#">Pelayanan KB</a></h3>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<% include ../partials/footer %>