<% include ../partials/header2 %>
<div id="qbootstrap-services">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center qbootstrap-heading">
                <h2>Our Services</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit
                    ab aliquam dolor eius.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="icon-flow-merge"></i>
                    </span>
                    <div class="desc">
                        <h3><a href="#">Diagnostic</a></h3>
                        <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild
                            Question Marks and devious Semikoli</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="icon-params"></i>
                    </span>
                    <div class="desc">
                        <h3><a href="#">Restorative Solution</a></h3>
                        <p>Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the
                            belt and made herself on the way.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="icon-lab2"></i>
                    </span>
                    <div class="desc">
                        <h3><a href="#">Additional Treatment</a></h3>
                        <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild
                            Question Marks and devious Semikoli</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="icon-heart4"></i>
                    </span>
                    <div class="desc">
                        <h3><a href="#">Heart Surgery</a></h3>
                        <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild
                            Question Marks and devious Semikoli</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="icon-params"></i>
                    </span>
                    <div class="desc">
                        <h3><a href="#">General Treatment</a></h3>
                        <p>Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the
                            belt and made herself on the way.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="icon-lab2"></i>
                    </span>
                    <div class="desc">
                        <h3><a href="#">Medical Treatment</a></h3>
                        <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild
                            Question Marks and devious Semikoli</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="icon-heart4"></i>
                    </span>
                    <div class="desc">
                        <h3><a href="#">Heart Surgery</a></h3>
                        <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild
                            Question Marks and devious Semikoli</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="icon-params"></i>
                    </span>
                    <div class="desc">
                        <h3><a href="#">General Treatment</a></h3>
                        <p>Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the
                            belt and made herself on the way.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="icon-lab2"></i>
                    </span>
                    <div class="desc">
                        <h3><a href="#">Medical Treatment</a></h3>
                        <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild
                            Question Marks and devious Semikoli</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>