<% include ../partials/admin/header %>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tambah Pasien</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Tambah Pasien
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form class="form-horizontal" role="form" action="/pasien/new" method="POST" id="tambah_pasien">
                        <div class="form-group">
                            <label for="" class="col-sm-3">No Rekamedis<span style="color:red"> *</span></label>
                            <div class="col-sm-9">
                                <input type="text" name="no_rm" required class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">No Rekamedis Lama</label>
                            <div class="col-sm-9">
                                <input type="text" name="no_rm_lama" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Nama Pasien <span style="color:red"> *</span></label>
                            <div class="col-sm-9">
                                <input type="text" name="nama_pasien" required class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Jenis Kelamin<span style="color:red"> *</span></label>
                            <div class="col-sm-9">
                                <input type="radio" name="jenis_kelamin" value="Laki-laki"> Laki-laki
                                <input type="radio" name="jenis_kelamin" value="Perempuan"> Perempuan
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Tanggal lahir<span style="color:red"> *</span></label>
                            <div class="col-sm-9">
                                <input type="date" name="tanggal_lahir" id="tanggal_lahir" class="form-control"
                                    onchange="submitBday()">
                                <span class="help-block">Formatnya : Bulan/Tanggal/Tahun, Contoh 05/10/1997</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Umur</label>
                            <div class="col-sm-9">
                                <input type="text" name="umur" id="umurku" min="1" max="80" required readonly class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Agama</label>
                            <div class="col-sm-9">
                                <select name="agama" id="" class="form-control" id="">
                                    <% data_agama.forEach(function(hasil){ %>
                                    <option value="<%= hasil.id %>">
                                        <%= hasil.nama_agama %>
                                    </option>
                                    <% }); %>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Status menikah</label>
                            <div class="col-sm-9">
                                <select name="status_menikah" id="" class="form-control" id="">
                                    <% data_status_menikah.forEach(function(hasil){ %>
                                    <option value="<%= hasil.id %>">
                                        <%= hasil.status_menikah %>
                                    </option>
                                    <% }); %>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Alamat</label>
                            <div class="col-sm-9">
                                <textarea name="alamat" class="form-control" id="" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Pekerjaan</label>
                            <div class="col-sm-9">
                                <input type="text" name="pekerjaan" required class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">No HP</label>
                            <div class="col-sm-9">
                                <input name="no_hp" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                    type="number" maxlength="12" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button class="btn btn-info btn-block">Save</button>
                            </div>
                        </div>
                    </form>

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<% include ../partials/admin/footer %>