<% include ../partials/admin/header %>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Edit Pengadaan Obat</h1>

        </div>

        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Edit Pengadaan Obat
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form class="form-horizontal" role="form" action="/pengadaanobat/<%= pengadaanobat_edit_id._id %>?_method=PUT"
                        method="POST" id="tambah_pengadaan_obat">
                        <div class="form-group">
                            <label for="" class="col-sm-3">No Faktur</label>
                            <div class="col-sm-9">
                                <input type="number" name="no_faktur" required class="form-control" value="<%= pengadaanobat_edit_id.no_faktur %>">
                                <input type="hidden" name="id_pengadaanobat_detail" required class="form-control" value="<%= pengadaanobat_detail %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Tanggal</label>
                            <div class="col-sm-9">
                                <input type="date" id="date" name="tanggal" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Supplier</label>
                            <div class="col-sm-9">
                                <input type="text" name="nama_supplier" id="cari_supplier" required class="form-control">
                                <input type="hidden" name="id_supplier" id="id_supplier">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Nama Barang</label>
                            <div class="col-sm-9">
                                <input type="text" name="nama_barang" id="cari_barang" required class="form-control">
                                <input type="hidden" name="id_barang" id="id_barang">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Harga</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon">Rp</span>
                                    <input type="text" name="harga" id="harga" required class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Qty</label>
                            <div class="col-sm-9">
                                <input type="text" name="qty" required class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button class="btn btn-info btn-block">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<% include ../partials/admin/footer %>