<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Klinik Dokter Kita</title>


    <!-- Bootstrap Core CSS -->
    <link href="/admin/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />

    <!-- MetisMenu CSS -->
    <link href="/admin/stylesheets/metisMenu.min.css" rel="stylesheet">
    <style media="screen">
        .modal {
            display: block !important;
        }

        .modal-dialog {
            overflow-y: initial !important;
        }

        .modal-body {
            height: 400px;
            overflow-y: auto;
        }
    </style>
    <!-- DataTables CSS -->
    <link href="/admin/stylesheets/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="/admin/stylesheets/dataTables.responsive.css" rel="stylesheet">


    <!-- <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/tabletools/2.2.4/css/dataTables.tableTools.css"> -->

    <!-- Custom CSS -->
    <link href="/admin/stylesheets/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/admin/stylesheets/morris.css" rel="stylesheet">

    <!-- Bootstrap Switch CSS -->
    <link href="/admin/stylesheets/bootstrap-switch.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/admin/stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Toaster CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

    <!-- Autocomplete CSS -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/yahoo/pure-release/v0.6.0/pure-min.css">
    <link rel="stylesheet" rel="stylesheet" href="/admin/stylesheets/auto-complete.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>



    <!-- Navigation -->

    <!-- /.navbar-header -->


    <!-- /.navbar-top-links -->