<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Data master<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/jenjang"><i class="fa fa-user fa-fw"></i> Data Jenjang</a>
                    </li>
                    <li>
                        <a href="/jabatan"><i class="fa fa-user fa-fw"></i> Data Jabatan</a>
                    </li>
                    <li>
                        <a href="/departemen"><i class="fa fa-user fa-fw"></i> Data Departemen</a>
                    </li>
                    <li>
                        <a href="/bidang"><i class="fa fa-user fa-fw"></i> Data Bidang Pegawai</a>
                    </li>
                    <li>
                        <a href="/poliklinik"><i class="fa fa-user fa-fw"></i> Data Poliklinik</a>
                    </li>
                    <li>
                        <a href="/spesialis"><i class="fa fa-user fa-fw"></i> Data Spesialis</a>
                    </li>

                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="/dokter"><i class="fa fa-user fa-fw"></i> Data Dokter</a>
            </li>
            <li>
                <a href="/jadwalpraktek"><i class="fa fa-user fa-fw"></i> Data Jadwal Praktek Dokter</a>
            </li>
            <li>
                <a href="/pegawai"><i class="fa fa-user fa-fw"></i> Data Pegawai</a>
            </li>
            <li>
                <a href="/gedung"><i class="fa fa-user fa-fw"></i> Data Gedung</a>
            </li>
            <li>
                <a href="/ruangan"><i class="fa fa-user fa-fw"></i> Data Ruang Rawat Inap</a>
            </li>
            <li>
                <a href="/tempattidur"><i class="fa fa-user fa-fw"></i> Data Tempat Tidur</a>
            </li>
            <li>
                <a href="/pasien"><i class="fa fa-user fa-fw"></i> Data Pasien</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Modul Apotek<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/kategoribarang"><i class="fa fa-user fa-fw"></i> Data Kategori Barang</a>
                    </li>
                    <li>
                        <a href="/satuanbarang"><i class="fa fa-user fa-fw"></i> Data Satuan Barang</a>
                    </li>
                    <li>
                        <a href="/dataobat"><i class="fa fa-user fa-fw"></i> Data Obat</a>
                    </li>
                    <li>
                        <a href="/bidang"><i class="fa fa-user fa-fw"></i> Data Bidang Pegawai</a>
                    </li>
                    <li>
                        <a href="/poliklinik"><i class="fa fa-user fa-fw"></i> Data Poliklinik</a>
                    </li>
                    <li>
                        <a href="/spesialis"><i class="fa fa-user fa-fw"></i> Data Spesialis</a>
                    </li>

                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
</nav>