<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <% if(currentUser.local.level === "Admin"){%>
            <li>
                <a href="/index"><i class="fa fa-home"></i> Halaman Utama</a>
            </li>
            <li>
                <a href="/pendaftaran"><i class="fa fa-book fa-fw"></i> Pendaftaran</a>
            </li>
            <li>
                <a href="/pasien"><i class="fa fa-user fa-fw"></i> Data Pasien</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-navicon fa-fw"></i> Data Master<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">

                    <li>
                        <a href="/dokter"><i class="fa fa-calendar-check-o fa-fw"></i> Data
                            Dokter</a>
                    </li>
                    <li>
                        <a href="/jadwalpraktek"><i class="fa fa-calendar-check-o fa-fw"></i> Data Jadwal Praktek
                            Dokter</a>
                    </li>
                    <!-- <li>
                        <a href="/dataobat"><i class="fa fa-heartbeat fa-fw"></i> Data Obat</a>
                    </li>
                    <li>
                        <a href="/kategoribarang"><i class="fa fa-heartbeat fa-fw"></i> Data Kategori Obat</a>
                    </li> -->
                    <li>
                        <a href="/spesialis"><i class="fa fa-heartbeat fa-fw"></i> Data Spesialis</a>
                    </li>
                    <li>
                        <a href="/poliklinik"><i class="fa fa-heartbeat fa-fw"></i> Data Poliklinik</a>
                    </li>
                    <li>
                        <a href="/agama"><i class="fa fa-heartbeat fa-fw"></i> Data Agama</a>
                    </li>
                    <!-- <li>
                            <a href="/pegawai"><i class="fa fa-user fa-fw"></i> Data Pegawai</a>
                        </li>
                        <li>
                            <a href="/jabatan"><i class="fa fa-heartbeat fa-fw"></i> Data Jabatan</a>
                        </li>
                        
                        
                        
                        <li>
                            <a href="/statusmenikah"><i class="fa fa-heartbeat fa-fw"></i> Data Status Menikah</a>
                        </li> -->

                </ul>
            </li>
            <% } else if (currentUser.local.level === "Dokter") { %>
            <li>
                <a href="/index"><i class="fa fa-home"></i> Halaman Utama</a>
            </li>
            <li>
                <a href="/pendaftaran"><i class="fa fa-book fa-fw"></i> Pendaftaran</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-navicon fa-fw"></i> Tindakan Pasien<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/tindakan"><i class="fa fa-diamond fa-fw"></i> Data Tindakan</a>
                    </li>
                    <li>
                        <a href="/kategoritindakan"><i class="fa fa-diamond fa-fw"></i> Data Kategori Tindakan</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li>
                <a href="#"><i class="fa fa-navicon fa-fw"></i> Diagnosa Pasien<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/diagnosapenyakit"><i class="fa fa-diamond fa-fw"></i> Data Diagnosa Penyakit</a>
                    </li>
                    <li>
                        <a href="/pemeriksaanlaboratorium"><i class="fa fa-diamond fa-fw"></i> Data Pemeriksaan
                            Laboratorium</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-navicon fa-fw"></i> Menu Sistem Pakar<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/diagnosapakar"><i class="fa fa-diamond fa-fw"></i> Data Diagnosa Pakar</a>
                    </li>
                    <li>
                        <a href="/gejalapakar"><i class="fa fa-diamond fa-fw"></i> Data Gejala Pakar</a>
                    </li>
                    <li>
                        <a href="/relasipakar"><i class="fa fa-diamond fa-fw"></i> Data Relasi</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <% } %>




            <!-- <a href="#"><i class="fa fa-navicon fa-fw"></i> MENU APOTEK<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="/barang"><i class="fa fa-medkit fa-fw"></i> Data Barang</a>
                </li>
                <li>
                    <a href="/stokopname"><i class="fa fa-medkit fa-fw"></i> Stok Opname</a>
                </li>
                <li>
                    <a href="/penjualan"><i class="fa fa-medkit fa-fw"></i> Penjualan Obat</a>
                </li>
                <li>
                    <a href="/kategoribarang"><i class="fa fa-medkit fa-fw"></i> Data Kategori Obat</a>
                </li>
                <li>
                    <a href="/satuanbarang"><i class="fa fa-medkit fa-fw"></i> Data Satuan Obat</a>
                </li>

                <a href="/dataobat"><i class="fa fa-medkit fa-fw"></i> Data Obat</a>
                </li>

                <a href="/pengadaanobat"><i class="fa fa-medkit fa-fw"></i> Laporan Pengadaan Obat</a>
                </li>

                <a href="/penjualanobat"><i class="fa fa-medkit fa-fw"></i> Laporan Penjualan Obat</a>
                </li>
                <li>
                    <a href="/golonganobat"><i class="fa fa-medkit fa-fw"></i> Data Golongan Obat</a>
                </li>

            </ul>
            <!- /.nav-second-level -->
            <!-- </li> -->



        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
</nav>