<% include ../partials/admin/header %>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tambah Ruang Rawat Inap</h1>
        </div>

        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Tambah Ruangan
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form class="form-horizontal" role="form" action="/ruangan/new" method="POST" id="tambah_ruangan">
                        <div class="form-group">
                            <label for="" class="col-sm-3">Kode Ruangan</label>
                            <div class="col-sm-9">
                                <input type="text" name="kode_ruang_rawat_inap" required class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Nama Ruangan</label>
                            <div class="col-sm-9">
                                <input type="text" name="nama_ruangan" required class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Nama Gedung</label>
                            <div class="col-sm-9">
                                <select name="kode_gedung_rawat_inap" id="" class="form-control" id="">
                                    <% data_gedung.forEach(function(hasil){ %>
                                    <option value="<%= hasil.id %>">
                                        <%= hasil.nama_gedung %>
                                    </option>
                                    <% }); %>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Kelas</label>
                            <div class="col-sm-9">
                                <select name="kelas" id="" class="form-control" id="">
                                    <option value="VVIP">VVIP</option>
                                    <option value="Kelas 1">Kelas 1</option>
                                    <option value="Kelas 2">Kelas 2</option>
                                    <option value="Kelas 3">Kelas 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Tarif</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon">Rp</span>
                                    <input type="text" name="tarif" required class="form-control">
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button class="btn btn-info btn-block">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<% include ../partials/admin/footer %>